@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'abnes';
    src: url('../fonts/abnes.otf');
}

:root{
    /* --primary-color: #2471A3; */
    --primary-color: #1A5276;
    --body-color: hsl(30, 8%, 10%);
    --container-color: hsl(30, 8%, 8%);

    --primary-text-color: aliceblue;
    --secundary-text-color: rgb(185, 180, 180);
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section-title{
    font-size: 1.8rem;
    color: var(--secundary-text-color);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    margin: 1.5rem 0;
}

.contact{
    margin-top: 1rem;
}

.contact i{
    color: var(--secundary-text-color);
    font-size: 2rem;
    transition: .3s;
}
.contact i:hover{
    color: var(--primary-text-color);
}

.active-link{
    color: var(--primary-color) !important;
}

/* HEADER */

.header{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.nav-logo{
    font-family: 'abnes';
    font-size: 1.4rem;
    color: var(--primary-color);
}

@media(max-width: 968px){
    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--container-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        border-radius: 0 0 10px 10px;
        transition: .5s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    text-align: center;
}

.nav-link{
    color: var(--primary-text-color);
    font-size: 1rem;
    text-transform: uppercase;
    transition: .3s;
}
.nav-link:hover{
    color: var(--primary-color);
}

.menu-opened{
    top: 0;
}

.menu-opener,
.nav-close{
    color: var(--primary-text-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-close{
    position: absolute;
    top: 5%;
    right: 4%;
}

/* BACKGROUND HEADER */
.header-bg{
    background-color: var(--container-color);
}


/* HOME */
.home-container{
    display: grid;
    gap: 3rem;
}

.home-title,
.home-subtitle{
    text-transform: uppercase;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.home-title{
    font-size: 2.3rem;
}

.home-subtitle{
    color: var(--secundary-text-color);
}

/* ABOUT */

.about{
    background-color: var(--primary-color);
}

.about-container{
    display: grid;
}

.about-images{
    justify-self: center;
}

#about-img{
    width: 300px;
}

#about-text{
    color: var(--primary-text-color);
    text-align: center;
    font-family: 'Asap', sans-serif;
}

.about .contact{
    margin-top: 2rem;
    text-align: center;
}


/* PROJECTS */

.projects-swiper{
    margin-bottom: 40px;
}

.project-slider-title{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-text-color);
}

.swiper-slide{
    transition: .3s;
    width: 300px;
}
.swiper-slide:hover{
    opacity: .6;
}

.projects-img-title{
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    padding: 5px;
    margin-top: -4px;
}

.projects-content a{
    cursor: pointer;
}


.coming-soon{
    color: var(--secundary-text-color);
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}


.swiper-pagination{
    position: initial;
    margin-top: 1rem;
}


/* TECHS */

.techs{
    background-color: var(--primary-color);
}

.techs-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.tech-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tech-item i{
    font-size: 5rem;
}

.tech-name{
    color: var(--secundary-text-color);
}

#html{ 
    color: #DC7633;
}

#css{
    color: #3498DB;
}

#responsive{
    color: var(--secundary-text-color);
}

#git{
    color: orangered;
}

#github{
    color: #000;
}

#javascript{
    color: orange;
}

#typescript{
    color: #3498DB;
}

#sass{
    color: palevioletred;
}


/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

/* SCROLL BAR */

::-webkit-scrollbar{
    width: 0.6rem;
    background: #413e3e;
}
  
::-webkit-scrollbar-thumb{
    background: #272525;
    border-radius: .5rem;
}


@media(min-width: 750px){
    .home-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media(min-width: 968px){
    .menu-opener,
    .nav-close{
        display: none;
    }

    .nav-list{
        flex-direction: row;
    }

    .header{
        height: 80px;
    }

    .techs-content{
        grid-template-columns: repeat(3, 1fr);
    }


    .about-container{
        grid-template-columns: repeat(2, 1fr);
    }

    #about-text{
        text-align: center;
    }

    .about .contact{
        transform: translateY(-40px);
    }



    .tech-name{
        transform: translateY(-30px);
        opacity: 0;
        transition: .4s;
    }

    .tech-item:hover .tech-name{
        transform: translateY(0);
        opacity: 1;
    }
}

@media(min-width: 1046px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .home-data{
        transform: translateY(130px);
    }

    .home-title{
        font-size: 3rem;
    }

    .home-subtitle{
        font-size: 2rem;
    }
}